repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: mixed-line-ending
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --select, I, --fix ]
      types_or: [ python, pyi, jupyter ]
    - id: ruff-format
      types_or: [ python, pyi, jupyter ]
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.12.0-2
  hooks:
    - id: shfmt
